@import "tailwindcss";

@theme {
  --color-orange-50: #fff7ed;
  --color-orange-100: #ffedd5;
  --color-orange-200: #fed7aa;
  --color-orange-300: #fdba74;
  --color-orange-400: #fb923c;
  --color-orange-500: #f97316;
  --color-orange-600: #ea580c;
  --font-kanit: 'Kanit', sans-serif;
}

body {
  font-family: 'Kanit', sans-serif;
  background-color: #fff7ed;
  /* orange-50 */
  margin: 0;
  padding: 0;
}

/* Custom Scrollbar for Textareas */
textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #fed7aa;
  /* orange-200 */
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

textarea:hover::-webkit-scrollbar-thumb {
  background-color: #fdba74;
  /* orange-300 */
}